 
#filtering{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 300px;
    justify-content: space-between;


}
#everyBars{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    height: 120px;
    width: 60%;
    justify-content: space-between;
    margin:auto;

}
#pages{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 300px;
    justify-content: space-between;
}
main{
    display: flex;
  flex-flow: row wrap;
  justify-content: center;
    margin: 50px;

}